@use '../abstracts' as a;

main {
    padding: 50px;
    
}

.dashboard-grid {
    display: grid;
    // flex-direction: column;
    // align-items: center;
        grid-auto-rows: minMax(199px, auto);
        
    justify-content: center;
    grid-gap: 1em;
}

.card-grid {
display: grid;
// grid-column: 1/3;
// align-self: start;
// width: a.$mobile-card-width;
height: auto;
}

// .activity-icon, .activity {
//     grid-row: 1/2;
// }




// .activity {
//     grid-column: 1/2;
//     grid-row: 2/2;
// }

.activity-icon {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: end;

}

.activity-heading {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ellipses {
        width: 15px;
        height: 5px;
    }
    .previous-activity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

 .card-grid:nth-of-type(1) .activity-icon {
    @include a.iconCard(10px, a.$work-bg);
}


 .card-grid:nth-of-type(2) .activity-icon {
   @include a.iconCard(10px,a.$play-bg);
}
 .card-grid:nth-of-type(3) .activity-icon {
   @include a.iconCard(10px, a.$study-bg);
    
}
 .card-grid:nth-of-type(4) .activity-icon {
   @include a.iconCard(10px, a.$exercise-bg);
    
}
 .card-grid:nth-of-type(5) .activity-icon {
   @include a.iconCard(10px, a.$social-bg);
    
}

 .card-grid:nth-of-type(6) .activity-icon {
   @include a.iconCard(10px, a.$self-care-bg);
    
}
.card-grid:nth-of-type(7) .activity-icon {
    @include a.iconCard(10px, a.$self-care-bg);
     
 }
// .activity-icon:

.activity {
    @include a.activityCard(10px, a.$white, a.$activity-card-dark-blue);
    grid-column: 1/2;
    grid-row: 2/2;
}

// .work {
//     background-color: #fff;
//     position: relative;
//     border-radius: 10px;
// }
// .work:before {
//     content: url('/images/icon-work.svg');
//     background-repeat: no-repeat;
//     background-color: green;
//     position: absolute;
//     top: -51px;
//     right: 0px;
//     z-index: -1;
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//     border-radius: 10px;

// }

@media only screen and (min-width: 1200px) {
    main {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
    }
    
    .dashboard-grid {
        
        display: grid;
    grid-template-columns: repeat(4, a.$desktop-card-width);
    grid-auto-rows: minmax(199px, auto);
    grid-column-gap: 2em;
    }


    // .user-img {
    //     align-self: flex-start; 

    // }
    
    .activity-heading {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    
        .ellipses {
            width: 15px;
            height: 5px;
        }
        .previous-activity {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            :nth-child(1) {
                padding: 1em;
            }
        }
    
    }
    // .card-grid {
    //     width: a.$desktop-card-width;
    // }
    
}
// .activity div:nth-of-type(2) {
//     background-color: a.$activity-card-dark-blue;
//     border-radius: 10px;
// }