.dashboard-grid {

    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(4,1fr)

    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2em;
    // justify-items: stretch;
    // align-items: stretch;
}

.activity div:nth-of-type(2) {
    background-color: #5747EA;
}