
@use '../abstracts/' as a;

.user-img {    
    max-width: 50%;
    border: 10px solid #fff;
    border-radius: 50%;
    display: flex;
    
}

.user-name {
font-size:user-card-name;
color: a.$white;
display: flex;
flex-direction: column;

   > span {
font-size: a.$user-title-span;
    }
}

.periods {
color: a.$white;

}

@media screen and (min-width: 800px) {

    .user-card {
        grid-row: 1/3;
        
    }
}