// ## Colors

// ### Primary

$user-card-bg: hsl(246, 80%, 60%);
$work-bg: hsl(15, 100%, 70%);
$play-bg: hsl(195, 74%, 62%);
$study-bg: hsl(348, 100%, 68%);
$exercise-bg: hsl(145, 58%, 55%);
$social-bg: hsl(264, 64%, 52%);
$self-care-bg: hsl(43, 84%, 65%);

// ### Neutral

$body-card-blue: hsl(226, 43%, 10%);
$body-bg: hsl(226, 43%, 10%);
$activity-card-dark-blue: hsl(235, 46%, 20%);
$activities: hsl(235, 45%, 61%);
$activity-time-pale-blue: hsl(236, 100%, 87%);
$white: #fff;
$stat-btns: #7078c9;
