@use '../abstracts' as a;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
font-size: 18px;
height: 100vh;
font-family: a.$rubik;
}

body {
    // max-width: 1400px;
    background: a.$body-bg;
    min-height: 100vh;
  }
  

ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
